{% extends 'base.html' %}
{% block content %}
<div class="wrapper">
{% for chart in charts %}
<div class="chartBox">
    <canvas id = "{{chart['id']}}"></canvas>
</div>
{% endfor %}
</div>
{% endblock %}

{% block scripts %}
{% for chart in charts %}
<script>
    var ctx = document.getElementById("{{chart['id']}}").getContext("2d")
    var label = "{{chart['title']}}"
    var barChart = new Chart(ctx, 
    {
        type : 'bar',
        data : {
            labels: {{chart['labels']|safe}},
            datasets:[
                {
                     label : label,
                     data : {{chart['values']|safe}},
                     fill : false,
                     backgroundColor: [
                        'rgb(239, 23, 110)',
                        'rgb(221, 133, 183)',
                        'rgb(60, 63, 61)',
                        'rgb(209, 52, 175)',
                        'rgb(114, 108, 39)'
                        ],
                     lineTension : 0.1

                }
            ]
        },
        options : {
            scales:{
                y:{
                    beginAtZero:true
                }
            },
            mainAspectRatio:false        }

    });
</script>
{% endfor %}
{% endblock %}

