{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}Stock Optmization Parameters{% endblock %}</h1>
    <form method="post">
      <select name= ticker method="GET" action="/">
        {% for ticker in ticker_lists %}
        <option value= "{{ticker}}" SELECTED>{{ ticker }}</option>
        {% endfor %}
       </select>
       {% for stock in stocks %}
              <label for = "{{ stock['label'] }}">{{ stock['title'] }}</label>
               <br>
              <input type="text" name="stock[]"
               placeholder= "{{ stock['placeholder'] }}"
               class='cnt'
               value="{{ request.form['stock[]'] }}"></input>
               <br>
       {% endfor %}
       {% for parameter in parameters %}
        <br>
        <label for = "{{ parameter['label'] }}">{{ parameter['title'] }}</label>
         <br>
        <input type="text" name="{{ parameter['label'] }}"
         placeholder= "{{ parameter['placeholder'] }}"
         class='cnt'
         value="{{ request.form[parameter['label']] }}"></input>
       {% endfor %}
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>
    <script type="text/javascript" src="engine1/jquery.js"></script> 
    <script> 
        $("#submit").click(function(){
        var arr=[];
        $(".cnt").each(function(){
        arr.push($(this).val());
            });
        $.ajax({
         url:'{{url_for("create")}}',
        type:'post',
        data:{contacts:arr},
        success:function(res){}
  });
});
  </script>
{% endblock %}

