<!-- Modal -->
    <!-- Modal HTML Markup -->
    <div id="buildCustomizedPortfolio" class="modal fade" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-dark">
                <div class="modal-body">
                    <form id="portfolioForm" role="form" method="POST" action="">
                        <label class = "text-white" for = "selectStock">Select Ticker</label>
                        <div class="form-group row g-3">
                        {% for i in range(8) %}
                        <div class="cnt col">
                          <select id = "selectStock" value = "Select Ticker" id = "stock-{{i}}" name="stock[]">
                            <option value="">None</option>
                            {% for e in ticker_list %}
                                <option value="{{ e }}">{{ e }}</option>
                            {% endfor %}
                            </select>
                        </div>
                        {% endfor %}
                      </div>
                        <div class="form-group">
                            <label class = "text-white" for = "stock_type">Stock Type</label>
                            <select name="stock_type" required>
                              {% for ts in stock_types %}                                   
                               <option value="{{ ts }}" selected>{{ ts }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class = "text-white" for = "risk_tolerance">Risk Tolerance</label>
                            <select name="risk_tolerance" required>
                                {% for risk in risks %}                                   
                                 <option value="{{ risk }}" selected>{{ risk }}</option>
                                  {% endfor %}
                              </select>
                        </div>
                      <div class="form-group">
                        {% for parameter in parameters %}
                            <label class = "text-white" for = "{{ parameter['label'] }}">{{ parameter['title'] }}</label>
                            <input 
                            id = "{{ parameter['id'] }}"
                            type="text" name="{{ parameter['label'] }}"
                            placeholder= "{{ parameter['placeholder'] }}"
                            class='cnt'
                            value="{{ request.form[parameter['label']] }}"
                            required></input>
                        {% endfor %}
                        </div>
                        <br>
                        <div>
                        <input type="submit" name="btn" class = "bg-light text-dark" value="Optimize"/>
                        <input type="button" data-bs-dismiss="modal" class = "bg-light text-dark" value="Close"/>
                       </div>
                      </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
<!--       <script type="text/javascript">	
       $("#selectStock").click(function(e){
            var flag = 0;
            $(".optimizeButton").each(function(){
            if($(this).val() != ""){
                    flag = 1;
            }
            });
            if(flag != 1){
            alert("Select an option");
            }
        })
        </script> -->