{% extends 'base.html' %}
{% block content %}
<div class="row">
    {% for i, row in news_df.iterrows() %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">{{ row['Date'] }}</h6>
                <h5 class="card-title">{{ row['Title'] }}</h5>
                <p class="card-text">{{ row['Description'] }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <a href="{{ row['Link'] }}" class="btn btn-primary text-white" style="background-color:black;"
                        target="_blank">Read More</a>
                    <small class="text-muted">{{ row['Source'] }}</small>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}.card-body {
height: 200px; /* set the height to your desired value */
}