{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Stock Optimization Result {% endblock %}</h1>
<form class="form-inline" method="POST" action="{{ url_for('stock') }}">
    <div class="form-group">
        <div class="input-group">
            <div class="select">
                <select name="index">
                    {% for index in index_lists %}
                    <option value="{{index}}" SELECTED>{{ index }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <div class="select">
                <select name="sector">
                    {% for sector in sector_lists %}
                    <option value="{{sector}}" SELECTED>{{ sector }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-default"> Search </button>
    </div>
</form>
{% for message in messages %}
<div class='message'>
    <h3>{{ message['title'] }}</h3>
    <p>{{ message['content'] }}</p>
</div>
{% endfor %}
<table id="portfolios">
    {% for table in tables %}
    {{ table|safe }}
    {% endfor %}
</table>
</body>
{% endblock %}