{% extends 'base.html' %}

{% block content %}
<form class="form-inline" method="post" action="{{ url_for('stock') }}">
            {% for ts in ticker_sector_lists %}
            <label for ="{{ts['label']}}"> {{ts['title']}} </label>
                <select class="form-select w-25"  name="{{ts['label']}}">
                    {% for e in ts['content']  %}
                        <option value="{{ e }}" selected>{{ e }}</option>
                    {% endfor %}
                </select>
            {% endfor %}
<button> Search </button> </a>
</form>
{% endblock %}