{% extends 'base.html' %}
{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Ticker</th>
        <th>Price</th>
        <th>Expected Return</th>
        <th>Weight</th>
        <th>Total Shares</th>
        <th>Invested Amount</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/portfolio/data',
        columns: [
          {data: 'Ticker'},
          {data: 'price', searchable: false},
          {data: 'expected_return', searchable: false},
          {data: 'weight', searchable: false},
          {data: 'total_shares', searchable: false},
          {data: 'invested_amount', searchable: false}
        ],
      });
    });
  </script>
{% endblock %}

