{% extends 'base.html' %}
{% block content %}
{% for i in range(total_porfolios) %}
<div class = "table-responsive">
  <table id="data-{{i}}" class="table table-striped table-dark" style="width: 100%">
    <thead>
      <tr>
        {% for column in columns %}
        <th>{{column}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
{% endfor %}
{% endblock %}

{% block scripts %}
  <script>
  var dataSet = [];
 
  function ajax() {
   return $.ajax({
     url: '/my-portfolio/data',
     success : function(data) {
       dataSet = data;
     },
     type: "GET"
   });
 }
 
 $(document).ready(function() {
   $.when(ajax()).done(function() {
    for(let i = 0; i < dataSet.data.length; i++){
      console.log(i)
      id = "#data-" + i
      console.log(id)
     $(id).DataTable( {
       "data": dataSet.data[i],
       scrollX: true,
         columns: [
           {data: 'Ticker'},
           {data: 'price', searchable: false},
           {data: 'expected_annual_return',searchable: false},
           {data: 'expected_annual_risk',searchable: false},
           {data: 'return_risk_ratio',searchable: false},
           {data: 'weight', searchable: false},
           {data: 'weighted_expected_return', searchable: false},
           {data: 'total_shares', searchable: false},
           {data: 'invested_amount', searchable: false}
         ]
     } );
     }
    }
  );
    
}
 );
  </script>
{% endblock %}

