{% extends 'base.html' %}
{% block title %} Stock Lists {% endblock %}
{% block content %}
<div class = "table-responsive">
  <table id="data" class="table table-striped table-dark">
    <thead>
      <tr>
        <th class="first-col">Ticker</th>
        <th>Sector</th>
        <th>Index</th>
        <th>P/E</th>
        <th>Fwd P/E</th>
        <th>PEG</th>
        <th>P/C</th>
        <th>P/B</th>
        <th>Insider Own</th>
        <th>Price</th>
        <th>Dividend</th>
        <th>ROE</th>
        <th>ROI</th>
        <th>Beta</th>
        <th>Strength</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  </div>
  <!-- Button trigger modal -->
  <button type="button"  data-toggle="modal" data-bs-toggle="modal" data-bs-target="#optmizePortfolio">
    Build Portfolio
  </button> 
  {% include "/modal.html" %}    
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        order: [[14, 'desc']],
        ajax: '/stock/data',
        columns: [
          {data: 'Ticker'},
          {data: 'Sector'},
          {data: 'Index', searchable: false},
          {data: 'pe', searchable: false},
          {data: 'fpe', searchable: false},
          {data: 'peg', searchable: false},
          {data: 'pc', searchable: false},
          {data: 'pb', searchable: false},
          {data: 'insider_own',searchable: false},
          {data: 'price',searchable: false},
          {data: 'dividend',searchable: false},
          {data: 'roe', searchable: false},
          {data: 'roi',searchable: false},
          {data: 'beta', orderable: false},
          {data: 'strength',searchable: false}
        ],
      });
    });
  </script>
{% endblock %}
