<!-- Modal -->
    <!-- Modal HTML Markup -->
<div id="buildTopStockPortfolio" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark">
            <div class="modal-body d-flex align-items-center flex-column">
            <form id="portfolioForm" role="form" method="POST" action="">
                <div class="form-group">
                {% for ts in ticker_sector_lists %}
                <label class = "text-white" for ="{{ts['label']}}"> {{ts['title']}} </label>
                    <select class="form-select"  name="{{ts['label']}}">
                        {% for e in ts['content']  %}
                            <option value="{{ e }}" selected>{{ e }}</option>
                        {% endfor %}
                    </select>
                {% endfor %}
                <label class = "text-white" for = "risk_tolerance">Risk Tolerance</label>
                    <select name="risk_tolerance" required>
                    {% for risk in risks %}                                   
                        <option value="{{ risk }}" selected>{{ risk }}</option>
                        {% endfor %}
                    </select>
                <label class = "text-white" for = "investing_amount">Investment Amount</label>
                <input 
                id = "investing_amount"
                type="text" 
                name="investing_amount"
                placeholder= "Investement Amount"
                required></input>
                <label class = "text-white" for = "maximum_stock_price">Maximum Affordable Stock Price</label>
                <input 
                id = "max_stock_price"
                type="text" 
                name="max_stock_price"
                placeholder= "Maximum Stock Price"
                required></input>
                </div>  
                <br>
                <div>          
                <input type="submit" name="btn" class = "bg-light text-dark" value="Build" >
                <input type="button" data-bs-dismiss="modal" class = "bg-light text-dark" value="Close"/>
                </div> 
            </form>    
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </div><!-- /.modal --> 
